#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border:none;
    background-color: hsl(240, 77%, 55%);
    color:white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
     background-color: hsl(240, 77%, 65%);
}
button:active{
     background-color: hsl(240, 77%, 75%);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceResult{
    margin:25px;
}
#diceImages img{
    width: 150px;
    height: 150px;
    margin:5px
}